/*CUSTOM-PROPS */

:root {
    /* --bg-color: #0e0720; */
    --bg-color: #fff;
    --accent-color: #1F51FF;
    --text-color: black;
    --item-bg: #eeeeee;
    /* --text-color: #fff; */
    --grey-color: #cfcfcf;
    --wrap-bg: #403C3B;
    --line: rgba(7, 7, 7, 0.319);
    --wht: black;
    --addres: rgb(25, 104, 25);
    --head-foot: #393E46;
    --fone: #222831;
}


/* dark-mode */

.dark {
    --bg-color: black;
    --accent-color: rgb(4, 117, 4);
    --text-color: #fff;
    --item-bg: #0e0c0c;
    --white: #efefef;
    --line: rgba(7, 7, 7, 0.319);
    --wht: #fff;
}

.dark-btn {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    border-radius: 40px;
    border: 2px solid black;
    cursor: pointer;
}


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1270px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 8px 22px;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}

.button:active {
    opacity: 0.6;
}


/* HEADER */

.ln {
    color: rgb(20, 151, 42);
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: black;
    border-bottom: 1px solid rgba(103, 96, 96, 0.26);
    box-shadow: 0px 5px 15px rgba(1, 147, 25, 0.4);
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link {
    text-decoration: none;
    color: var(--accent-color);
}


/* .header__logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.15em;
} */

.header__logo {
    width: 200px;
    height: 70px;
}

.header__addres {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--addres);
    border: 1px solid rgb(31, 31, 31);
    text-decoration: none;
    border-radius: 15px;
}

.header__addres-icon {
    margin-right: 10px;
}

.header__addres-text {
    margin: 0;
    color: var(--text-color);
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-icon {
    margin-right: 10px;
}

.header__contact__content {
    position: relative;
    bottom: -10px;
}

.header__contact__content-text {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--wht);
}

.header__contact__content-number {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--wht);
}

.header__busket {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--addres);
    border: 1px solid rgb(31, 31, 31);
    border-radius: 20px;
    text-decoration: none;
    color: var(--bg-color);
}

.header__busket-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    margin-right: 20px;
    color: var(--text-color);
}

.header__busket-line {
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
}

.header__busket-numb {
    margin-top: 0;
    margin-bottom: 0;
    width: 24px;
    height: 24px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


/* ADV */

.adv {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.344);
}

.adv__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adv__left {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.adv__img {
    border: 2px solid var(--text-color);
    border-radius: 10px;
}

.adv__right {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
}


/* FOOD-CATHEGORY */

.f-c {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.344);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.244); */
}

.f-c__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-c__item:not(:last-child) {
    /* margin-right: 20px; */
}

.f-c__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: var(--text-color);
    padding: 5px;
    border-bottom: 3px solid rgb(8, 106, 8);
    border-radius: 2px;
}

.f-c__link:hover {
    opacity: 0.6;
    transition: ease 0.3s;
    border-bottom: 3px solid var(--text-color);
    border-radius: 5px;
}

.blue {
    color: rgb(7, 7, 31);
}


/* FOODS */

.foods {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--line);
}

.foods__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
}

.foods__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.foods__item {
    width: 290px;
    background-color: var(--item-bg);
    /* background-color: #0c0c0c; */
    border-radius: 10px;
    box-shadow: 0px 6px 9px rgba(6, 116, 10, 0.608);
    margin-bottom: 35px;
}

.foods__item:hover {
    transform: translateY(-5px);
    transition: ease 0.4s;
}

.foods__item:not(:last-child) {
    margin-right: 22px;
}

.foods__img {
    width: 325px;
    height: 227px;
    border-radius: 5px;
    border-bottom: 2px solid rgb(8, 9, 8)
}

.foods__content {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.foods__content-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.foods__content-text {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: var(--text-color);
}

.foods__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foods__add-weight {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.foods__add-icon {
    /* background-color: var(--accent-color); */
    background-color: var(--white);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}


/* FOOTER */

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    border-top: 1px solid rgba(103, 96, 96, 0.26);
    /* box-shadow: 0px 5px 15px rgba(1, 147, 25, 0.221); */
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .footer_f {
    display: flex;
    align-items: center;
} */

.footer_s-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.footer_s-item:not(:last-child) {
    margin-right: 25px;
}

.footer_s-link {
    text-decoration: none;
    color: var(--wht);
    font-size: 17px;
}

.footer_s-link:hover {
    color: var(--text-color);
    transition: ease 1s;
}

.footer_th-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.footer_th-item:not(:last-child) {
    margin-right: 10px;
}

.footer_th-link {
    text-decoration: none;
}

.footer_th-icon {
    width: 50px;
    height: 50px;
}


/* copyright */

.copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 0, 0);
}

.copyright-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(82, 81, 81, 0.458);
}

.copyright_text {
    margin-right: 4px;
    color: rgba(128, 128, 128, 0.621);
}

.tlg {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}


/* ABOUT-US.html */


/*  */

.a-u {
    padding-top: 35px;
    padding-bottom: 35px;
    background-image: url('../img/burger.jfif');
    background-position: center center;
    background-repeat: no-repeat;
}

.a-u__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 70px;
    padding-bottom: 100px;
    background-color: rgba(5, 135, 5, 0.288);
    border-radius: 10px;
    background: linear-gradient(90deg, #101010 0%, rgba(46, 44, 44, 0) 100%), linear-gradient(-90deg, #101010 0%, rgba(46, 44, 44, 0) 100%);
}

.a-u__content {
    justify-content: center;
}

.a-u__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
}

.a-u__text {
    width: 563px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.a-u__link {
    margin-top: 0;
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: var(--wht);
    background-color: var(--addres);
    border-radius: 12px;
}

.a-u__img {
    width: 600px;
    height: 600px;
    /* background: linear-gradient(-90deg, #101010 0%, rgba(46, 44, 44, 0) 100%); */
}


/* MAP */

.map {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(75, 75, 75, 0.275);
}

.map__container {
    padding: 25px 40px 25px 40px;
    background-color: #181918d7;
    width: 526px;
    border-radius: 25px;
}

.map__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.map__line {
    margin-top: 0;
    margin-bottom: 30px;
    border: 0;
    background-color: var(--grey-color);
    width: 400px;
    height: 2px;
}

.map__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.map__item {
    display: flex;
}

.map__item:not(:last-child) {
    margin-bottom: 20px;
}

.map__icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.map__content {
    margin-top: 0;
    margin-bottom: 20px;
}

.map__content-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.map__content-text {
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.map__contact {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map__contact-link {
    padding: 15px;
    background-color: var(--addres);
    border: 1px solid rgb(31, 31, 31);
    text-decoration: none;
    border-radius: 15px;
    text-decoration: none;
    color: var(--text-color);
}

.map__contact-tex {
    font-weight: 400;
    color: var(--grey-color);
}

.rg {
    font-weight: 600;
    color: var(--wht);
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}